/*
	Site got style yo
*/


/*
	Header stuff
*/

header{
   padding: 2%;
   text-align: center;
}

@media all and (max-width: 1700px) {
	#Profile{
		display: none;
	}
}

#MenuContainer{
	position:relative;
	display: inline-block;
}

#Profile{
	position: absolute;
	left: -200px;
	top: -20px;
	width: 175px;
	background-color: white;
	border-style:solid;
	border-color:black;
	border-width:2px;
}

#Menubar{
	display:inline-flex;
}

.menulist{
	list-style-type: none;
	-webkit-padding-start: 0;
	-webkit-margin-after: 2em;
	padding-left: 0px;
}

.linkbox {
	display:flex;
	flex-wrap: wrap;
	background-color: white;
	border-style:solid;
	border-color:black;
	border-width: 2px 2px 2px 0px;
	justify-content:space-evenly;
	flex-direction: column;
	width: 160px;
}

.linkrow {
	display: flex;
	justify-content:space-evenly;
	width: 160px;
}

.linkbutton {
	width:50px;
	height:50px;
	display:flex;
	justify-content:center;
	align-items:center;
	margin: 1%;
}


/*
	Body stuff
*/

body{
   background: #607d8b; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left,#607d8b,white,#607d8b);
   background: linear-gradient(to right,#607d8b,white,#607d8b); 
   font-family: "Courier New", Courier, monospace;
   display: block;
   margin: 0;
   width: 100%;
   height: 100%;
   text-align:left;
}

#TheRestOfIt{
	padding-left: 2%;
	padding-right: 2%;
	height: 1000px;
}

#SecretLink{
	float: right;
}

.bigbox{
	padding: 10px 20px;
	background-color: white;
	border-style:solid;
	border-color:black;
	border-width:2px;
}

.smallbox{
	padding: 5px 10px;
	background-color: white;
	border-style:solid;
	border-color:black;
	border-width:2px;
}

.listbox{
	display:block;
	padding: 20px 20px;
	margin-bottom: 20px;
	background-color: white;
	border-style:solid;
	border-color:black;
	border-width:2px;
}

.helper{
	height: 100%;
	vertical-align: middle;
    display: inline-block;	
}

.content{
	display: inline-block;
	vertical-align: top;
	margin-top: 2px;
	border-top: black 1px solid;
	width: 100%;
}

.content h2{
	margin-top: 0px;
}

.content a{
	font-size: 22px;
}

.smallImage{
	height: 50px;
	width: 50px;
}

.mediumImage{
	height: 100px;
}

.imagebox{
	text-align: center;
	width: 150px;
	height :150px;
	justify-content: center;
	white-space: nowrap;
}

.simagebox{
	text-align: center;
	width: 75px;
	height :75px;
	justify-content: center;	
	white-space: nowrap;
	align-items: center;
	display: flex;
}

.imagebox img{
	max-width:100%;
	max-height:100%;
    vertical-align: middle;
}

.simagebox img{
	max-width:100%;
	max-height:100%;
    vertical-align: middle;
}

.flexrow {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	align-items: center;
}

.flexrow:hover {
	font-weight: bold;
	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.textbox {
	
}
 
/*
	General purpose
*/

summary {
	display: block;
}

summary:hover {
	text-decoration: underline;
}

details h2::before {
	content: "+ ";
}

details[open] h2::before {
	content: "- ";
}

img {
	max-height : 450px;
}

h4{
	-webkit-margin-after: 0;
}

h3{
	padding: 0px 20px;
}

h2{
	text-align: left;
}

a{
	font-size: 30px;
	text-decoration: none;
	color: black;
	border: #607d8b solid 2px;
	padding: 3px;
	display: inline-block;
}

p{
	font-size: 20px;
	text-align: left;
}

a:hover{
	background-color: #607d8b;
	cursor: pointer;
}

a:visited{
	color: black;
}